node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
screenshot.png
.DS_STORE
.cache/
.env
downloads/
dist/
.browserbase/
packages/evals/**/public
packages/core/lib/dom/build/
packages/core/lib/v3/dom/build/
packages/evals/public
*.tgz
evals/playground.ts
tmp/
eval-summary.json
package-lock.json
evals/deterministic/tests/BrowserContext/tmp-test.har
packages/core/lib/version.ts
packages/core/test-results/
/examples/inference_summary
/inference_summary
.turbo
.idea
coverage/
ctrf/
.stagehand-sea/
